body {
  font-family: 'Raleway', sans-serif;
  background-color: #fcffad;
  background-image: url("http://www.transparenttextures.com/patterns/skulls.png");
}

.container {
  margin-top: 150px;
  margin-bottom: 80px;
}

/******************* info links *******************/

.info {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  display: block;
  opacity: 1;
  margin-top: 20px;
}

.linkedIn img, .github img, .codewars img {
  height: 45px;
  width: 45px;
  padding: 0 5px 0 12px;
}

/****************** rotate animation **************/

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
width: 250px;
height: 300px;
margin-right: auto;
margin-left: auto;
display: block;
cursor: pointer;
}

.flipper {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

.front, .back {
backface-visibility: hidden;
position: absolute;
top: 0;
left: 0;
}

.front img, .back img {
  width: 100%;
  height: 100%;
  border: 7px solid lightblue;
  border-radius: 16px;
}

.front img {
  margin-left: -14px;
}

.back {
transform: rotateY(180deg);
}

.front .name {
font-size: 25px;
display: inline-block;
background: rgba(33, 33, 33, 0.9);
color: #f8f8f8;
font-family: Courier;
padding: 5px 10px;
border-radius: 5px;
bottom: 60px;
left: 25%;
position: absolute;
text-shadow: 0.1em 0.1em 0.05em #333;
transform: rotate(-20deg);
}

/****************** Summary style ****************/

.space {
  height: 100px;
}

.column-8 {
  margin-left: auto;
  margin-right: auto;
}

.column-12 p {
  font-size: 20px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 60px;
}

.column-12 h2  {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 75px;
  margin-bottom: 35px;
  font-family: 'Candal', sans-serif;
  color: #FCFFAD;
}

div:nth-child(3) > div.top > div {
  background-color: rgba(228, 180, 209, 0.7);
  border-radius: 25px;
  margin-bottom: 80px;
}

.coming {
  font-size: 100px;
  transform: rotate(-45deg);
  text-align: center;
  margin-top: 25%;
  text-shadow: rgb(216, 210, 210) 10px 10px 0px;
  font-family: 'Candal', sans-serif;
  color: #C3A3B6;
}
