.grid {
  margin: 5% 10%;
  width: 100%;
  clear: both;
  padding: 20px;
}
.border {
  text-align: center;
  border: 1px solid orange;
}
.column-1 {
  display: block;
  float: left;
  width: 6.66%;
}
.column-2 {
  display: block;
  float: left;
  width: 13.33%;
}
.column-3 {
  display: block;
  float: left;
  width: 19.99%;
}
.column-4 {
  display: block;
  float: left;
  width: 26.66%;
}
.column-5 {
  display: block;
  float: left;
  width: 33.33%;
}
.column-6 {
  display: block;
  float: left;
  width: 39.99%;
}
.column-7 {
  display: block;
  float: left;
  width: 46.66%;
}
.column-8 {
  display: block;
  float: left;
  width: 53.33%;
}
.column-9 {
  display: block;
  float: left;
  width: 59.99%;
}
.column-10 {
  display: block;
  float: left;
  width: 66.66%;
}
.column-11 {
  display: block;
  float: left;
  width: 73.33%;
}.column-12 {
  display: block;
  float: left;
  width: 80%;
}
