
body {
  font-family: 'Raleway', sans-serif;
  background-color: #fcffad;
  background-image: url("http://www.transparenttextures.com/patterns/skulls.png");
  margin: 0;
}
.logo{
  z-index:9999;
  float: left;
  width: 9em;
  transform: rotate(-21deg);
  margin-top: -20px;
  position: absolute;
  left:0;
  top:0;

}
.navbar {
  background-color: #99e6ff;
  height: 110px;
  box-shadow: 2px 1px 14px #888888;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.navbar-links{


}
.navbar a {
  font-size: 1.5em;
  color: #C3A3B6;
  padding: 2em;
  text-decoration: none;
  text-shadow: rgb(216, 210, 210) 4px 3px 0px;
  font-family: 'Candal', sans-serif;
}
.navbar a:hover {
  color: white;
}
.navbar h3 {
  display: inline-block;
}
.navbar h3 {
  display: inline-block;
}
.nav-links {
  padding-top: 13px;
  margin-left: 60px;
}

.navbar-links {
  margin-left: 20%;
}
body > nav > div > h3:nth-child(2) {
  margin-left: -66px;
}
.home-image img {
  width:100%;
  z-index: -1;
}

.image-wrapper {
  position:relative;
  width: 100%;
  height: 0;
}

.home-image {
  width:100%;
}
@media screen and (max-width: 1035px) {
   .navbar a { font-size: 23px; }
 }
 @media screen and (max-width: 860px) {
  .navbar a { font-size: 23px;
    padding: 25px; }
  .column-12 p { padding: 0 35px; }
  .coming { margin-top: 36%; }
}
@media screen and (max-width: 702px) {
  .navbar a {
    font-size: 19px;
    padding: 11px;
  }
  .nav-links { padding-left: 0px; }

}
