
body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffe5;
  font-size: 6em;
  color: black;
}
.logo{
  width: 10em;
}
.navbar {
  border: none;
}
.navbar-brand{
  height: 5em;
}
.navbar.navbar-inverse {
  background-image: none;
  background-color: #99e6ff;
  padding: auto;
}
.navbar-inverse .navbar-nav>li>a {
  font-size:4em
  color: #3e3e28;
  padding: 0.5em
}
